html, body, .app , div[ng-view=""], .main {
  height: 100%;
}

body {
  font-family: $font-sans-serif;
  color: palette(black);
  background-color: palette(gray, lighter);
}

.content {
  height: 78%;

  .tab-content {
    height: 100%;

    .notifications {
      background-color: #48a9ed;
      height: 23px;
      padding-left: 10px;
      padding-right: 10px;
      border-left: 1px solid #65baf3;
      border-top: 1px solid #65baf3;
      border-bottom: 1px solid #4790bd;
      border-right: 1px solid #4790bd;

      title {
        display: inline;
        color: white;
      }

      .erase {
        background-image: url('../images/close-blue-small.png');
        height: 21px;
        width: 20px;
        float: right;
      }

      .quantity {
        background-image: url('../images/circle-green-small.png');
        height: 21px;
        width: 20px;
        float: right;
        margin-right: 5px;
      }
    }

    .messages {
      height: 100%;
      background-color: #e7f2f8;
      padding: 10px;

      .message {
        height: 92px;

        &:not(last-child) {
          border-bottom: 1px solid #c6ced1;
        }

        .contact-image {
          background-image: url('../images/person.png');
          height: 50px;
          width: 50px;
          float: left;
        }

        .message-content {
          float: left;
          margin-left: 20px;
          width: 230px;

          span.from {
            width: 100%;
            float: left;
            font-size: larger;
            font-weight: bold;
          }

          span.message-text {
            font-size: smaller;
          }
        }
      }
    }
  }
}