html, body, .app , div[ng-view=""], .main {
  height: 100%;
}

body {
  font-family: $font-sans-serif;
  color: palette(black);
  background-color: palette(gray, lighter);
}

.content {
  height: 78%;

  .tab-content {
    height: 100%;

    .tab-content-header {
      background-color: #48a9ed;
      height: 23px;
      padding-left: 10px;
      padding-right: 10px;
      border-left: 1px solid #65baf3;
      border-top: 1px solid #65baf3;
      border-bottom: 1px solid #4790bd;
      border-right: 1px solid #4790bd;

      title {
        display: inline;
        color: white;
      }

      .erase {
        background-image: url('../images/close-blue-small.png');
        height: 21px;
        width: 20px;
        float: right;
      }

      .quantity {
        background-image: url('../images/circle-green-small.png');
        height: 21px;
        width: 20px;
        float: right;
        margin-right: 5px;
      }
    }

    .tab-content-menu {
      background-color: #48a9ed;
      height: 32px;
      border-left: 1px solid #65baf3;
      border-top: 1px solid #65baf3;
      border-bottom: 1px solid #4790bd;
      border-right: 1px solid #4790bd;
      padding: 5px;

      .tab-content-menu-option {
        width: 30%;
        color: black;
        margin-left: 20px;

        &.selected {
          color: white
        }
      }
    }

    .messages {
      height: 100%;
      background-color: #e7f2f8;
      padding: 10px;

      .message {
        height: 92px;

        &:not(last-child) {
          border-bottom: 1px solid #c6ced1;
        }

        .contact-image {
          background-image: url('../images/person.png');
          height: 50px;
          width: 50px;
          float: left;
        }

        .message-content {
          float: left;
          margin-left: 20px;
          width: 230px;

          span.from {
            width: 100%;
            float: left;
            font-size: larger;
            font-weight: bold;
          }

          span.message-text {
            font-size: smaller;
          }
        }
      }
    }

    .contacts {
      height: 93%;
      background-color: #e7f2f8;
      padding: 10px;

      .search {
        height: 50px;
        padding: 5px;
        margin-bot: 10px;
        border-bottom: 1px solid #c6ced1;;

        .search-input {
          width: 100%;
          padding-left: 5px;
          height: 29px;
        } 
      }

      .list {

        .group {
          border-bottom: 1px solid #c6ced1;

          .letter {
            height: 100%;
            width: 17%;
            float: left;
            font-size: x-large;
            font-weight: bold;
            text-align: center;
          }

          .contact {
            line-height: 50px;
            min-height: 50px;
            margin-bottom: 10px;
            margin-top: 10px;


            .image {
              height: 50px;
              width: 50px;
              float: left;
              background-image: url('../images/person.png');
            }

            .name {
              float: left;
              margin-left: 10px;
            }

            .chat {
              height: 32px;
              width: 32px;
              float: right;
              margin-top: 10px;
              background-image: url('../images/chat.png');
            }

            .call {
              height: 32px;
              width: 32px;
              float: right;
              margin-left: 10px;
              margin-top: 10px;
              background-image: url('../images/call.png');
            }
          }
        }

      }
    }
  }
}