header {
	background-color: #1775bb;
	width: 100%;
	.header-content{
		height: 65px;
		width: 100%;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;

		.user {
			.headset {
				float: left;
				height: 50px;
				width: 50px;
				background-image: url('../images/headset-green.png');

				&.away {
					background-image: url('../images/headset-orange.png');
				}

				&.offline {
					background-image: url('../images/headset-red.png');
				}
			}

			.info {
				float: left;
				width: 220px;
				margin-top: 10px;
				padding-left: 5px;

				.name {
					float: left;
					color: white;
					font-size: large;
					width: 100%;
					line-height: 15px;
					font-weight: lighter;
				}

				.status {
					float: left;
					color: #39c765;
					font-size: medium;
					background: none;
					border: none;

					&.away {
						color: orange;
					}

					&.offline {
						color: red;
					}

					option {
						color: black;
						background-color: #48a9ed;
					}
				}
			}
		}

		.menu {
			margin-top: 10px;
			float: right;
			background-image: url('../images/menu.png');
			width: 25px;
			height: 13px;
		}
	}

	.tabs-container {
		background-color: #1775bb;
		height: 35px;
		
		.tab {
			width: 50%;
			float: left;
			text-align: -webkit-center;

			.chat {
				background-image: url('../images/messages.png');
				height: 32px;
				width: 32px;
			}

			.contacts {
				background-image: url('../images/contacts.png');
				height: 32px;
				width: 32px;
			}

			&.selected {
				border-bottom: 2px solid #125d94;
			}
		}
	}
}

