<div class="header">
    <header>
        <img class="header-logo" src="images/logo.png" alt="">
        <div class="header-title">call<em>sears</em></div>     
    </header>
</div>
<div class="main contact-page">
  <div class="sidebar">
    <div class="sidebar-item" ng-class="{selected: tab == 'stats'}" ng-click="changeTab('stats')">
      <span class="fa fa-area-chart" style="display: none;"></span>
      <img src="images/statics_button.png" alt>
      <span>Statistics</span>
    </div>
  </div>
  <!-- STATISTICS -->
  <div class="content" ng-show="tab == 'stats'">
    <div class="filters">
      <button class="selected">Daily</button>
      <button>Weekly</button>
      <button>Monthly</button>
    </div>
    <div class="sub-content-1">
      <div class="chart-container">
        <tittle>Calls</tittle>
        <div id="allCallsChart" class="chart" chart></div>
      </div>
      <div class="details-container">
        <div class="detail">
          <tittle></tittle>
          <span class="number">56</span>
          <span>Calls</span>
        </div>
        <div class="detail">
          <tittle>Average</tittle>
          <span class="number">6</span>
          <span>Call/Hs</span>
        </div>
        <div class="detail">
          <tittle>Average</tittle>
          <span class="number">0,2</span>
          <span>Call/Min</span>
        </div>
      </div>
    </div>
    <div class="sub-content-2">
      <div class="chart-container">
        <tittle>Incoming Calls</tittle>
        <div id="incomingCallsChart" class="chart" donut-chart></div>
      </div>
      <div class="chart-container">
        <tittle>Answered Calls</tittle>
        <div id="answeredCallsChart" class="chart" donut-chart></div>
      </div>
    </div>
  </div>
</div>
