<header>
  <div class="header-content">
    <div class="user">
      <div class="headset"></div>
      <div class="info">
        <span class="name">Agustin Veloso</span>
        <span class="status">Online</span>
      </div>
    </div>
    <div class="menu"></div>
  </div>
  <div class="tabs-container">
    <div class="tab" ng-class="{ selected: isSelected('chat')}" ng-click="selectTab('chat');">
      <div class="chat"></div>
    </div>
    <div class="tab" ng-class="{ selected: isSelected('contacts')}" ng-click="selectTab('contacts');">
      <div class="contacts"></div>
    </div>
  </div>
</header>
<div class="content">
  <div class="tab-content" ng-show="isSelected('chat')">
    <div class="notifications">
      <title>Notifications</title>
      <div class="erase"></div>
      <div class="quantity"></div>
    </div>
    <div class="messages">
      <div class="message">
        <div class="contact-image"></div>
        <div class="message-content">
          <span class="from">From: Cecilia Gauna</span>
          <span class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
      </div>
    </div>
    <div class="message">
        <div class="contact-image"></div>
        <div class="message-content">
          <span class="from">From: Cecilia Gauna</span>
          <span class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
      </div>
    </div>
    <div class="message">
        <div class="contact-image"></div>
        <div class="message-content">
          <span class="from">From: Cecilia Gauna</span>
          <span class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
      </div>
    </div>
  </div>
  <div class="tab-content" ng-show="isSelected('contacts')"></div>
</div>